@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

// Override Spectre's variables

// ProximaX Brand Colors
$primary-color: #78B6E4 !default;
$success-color: #20B5AC !default;
$warning-color: #F4A900 !default;
$error-color: #EB6000 !default;

$fallback-font-family: sans-serif;
$base-font-family: "Open Sans" $fallback-font-family !default;
$title-font-family: "Poppins", $fallback-font-family !default;

// Update some of Spectre's component variables
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $title-font-family;
}

@import "spectre.css/src/_variables.scss";
@import "spectre.css/src/_mixins.scss";
@import "spectre.css/src/_normalize.scss";
@import "spectre.css/src/_base.scss";
@import "spectre.css/src/_typography.scss";
@import "spectre.css/src/_asian.scss";
@import "spectre.css/src/_tables.scss";
@import "spectre.css/src/_buttons.scss";
@import "spectre.css/src/_forms.scss";
@import "spectre.css/src/_labels.scss";
@import "spectre.css/src/_codes.scss";
@import "spectre.css/src/_media.scss";
@import "spectre.css/src/_layout.scss";
@import "spectre.css/src/_avatars.scss";
@import "spectre.css/src/_cards.scss";
@import "spectre.css/src/_dropdowns.scss";
@import "spectre.css/src/_empty.scss";
@import "spectre.css/src/_menus.scss";
@import "spectre.css/src/_tiles.scss";
@import "spectre.css/src/_utilities.scss";
@import "spectre.css/src/_animations.scss";
@import "spectre.css/src/spectre-icons.scss";

@media (max-width: $size-lg) {
  .table:not(.table-scroll) {
    &.table-stack {
      thead th {
        display: none;
      }

      tr {
        border-bottom: $border-width solid $border-color;

        &:first-child {
          border-top: $border-width solid $border-color;
        }
      }

      td,
      th {
        border-bottom: 0;
        display: block;

        &[data-th]::before {
          content: attr(data-th);
          display: block;
          font-weight: bold;
        }
      }
    }
  }
}
